<!-- call by my-main -->
<dom-module id="my-headmenu">
  <style>
  </style>
  <template>
    <nx-param params="{{getParam}}" pattern="param1/param2"></nx-param>
    <paper-tabs selected="{{ selectedpage }}" attr-for-selected="name">
      <paper-tab name="/dashboard/home">Home</paper-tab>
      <paper-tab name="/dashboard/management">Work Timeline</paper-tab>
    </paper-tabs>
  </template>
  <script>
    Polymer({
      is: "my-headmenu",
      behaviors:[nxPageBehavior],
      properties: {
        selectedpage: {
          type: Number,
          notify:true,
          value:'/dashboard/home'
        }
      },
      observers:['changelink(selectedpage)'],
      changelink:function(name){
        if(typeof this.getParam != "undefined"){
          this.changePath(name);
        }
        //var args = e.target.getAttribute('data-href');
        //console.log(args);
        //this.changePath(args);
      }
    });
  </script>
</dom-module>
