<!-- call by my-main -->
<dom-module id="my-headmenu">
  <style>
  </style>
  <template>
    <nx-param params="{{getParam}}" pattern="param1/param2"></nx-param>
    <paper-tabs selected="{{selectedpage}}" attr-for-selected="name">
      <paper-tab name="/dashboard/home">Home</paper-tab>
      <paper-tab name="/dashboard/management">Work Timeline</paper-tab>
    </paper-tabs>
    {{selectedpage}}
  </template>
  <script>
    Polymer({
      is: "my-headmenu",
      behaviors:[nxPageBehavior],
      properties: {
        selectedpage: {
          type: Number,
          notify:true,
          observer:'changelink'
        }
      },
      changelink:function(newVal,oldVal){
        
        if(typeof oldVal != "undefined"){
          this.changePath(newVal);
        }
      },
      ready:function(){
        this.selectedpage = '/'+this.getParam.app+'/'+this.getParam.page;
      }
    });
  </script>
</dom-module>
