<dom-module id="my-editdata">
<style include="iron-flex iron-flex-alignment iron-flex-factors">
#ed{
  border: 1px solid #000;
}
.menu_box{
  margin: 5px;
  padding: 5px;
  /*border: 1px solid #000;*/
}
paper-button{
  margin-top: 5px;
  margin-left: 10px;
}
paper-button.save {
  background-color: var(--paper-indigo-500);
  color: white;
  --paper-button-raised-keyboard-focus: {
    background-color: var(--paper-pink-a200) !important;
    color: white !important;
  };
}
paper-button.delete {
  background-color: var(--paper-red-500);
  color: white;
  --paper-button-raised-keyboard-focus: {
    background-color: var(--paper-pink-a200) !important;
    color: white !important;
  };
}
paper-button.edit {
  background-color: var(--paper-green-500);
  color: white;
  --paper-button-raised-keyboard-focus: {
    background-color: var(--paper-pink-a200) !important;
    color: white !important;
  };
}
</style>
<template>
  <div id="ed">
    <div class="layout vertica">
      <div class="flex">
        <div class="layout horizontal around-justified">
          <div class="flex">
            <paper-button on-tap="save" class="save">บันทึกข้อมูล</paper-button>
          </div>
          <div class="flex">
            <paper-button class="edit">แก้ไข</paper-button>
          </div>
          <div class="flex">
            <paper-button on-tap="delete" class="delete">ลบข้อมูล</paper-button>
          </div>
          <div class="flex-2"></div>
        </div>
      </div>
      <div class="layout vertica menu_box">
        <div class="flex">
          แก้ไข ข้อมูล ของแต่ละหัวข้อ
        </div>
        <div class="flex">
          <div class="layout horizontal">
            <div class="flex menu_box">
              เมนู 1
            </div>
            <div class="flex-6 menu_box" >
              <paper-input label="เมนู" always-float-label placeholder="เมนู" value="{{dataselect.nameMenu}}" id="nameMenu"></paper-input>
              <paper-input label="รายล่ะเอียด" always-float-label placeholder="ข้อมูล 1" value="{{dataselect.detail}}" id="detail"></paper-input>
            </div>
          </div>
        </div>
        <hr>
        <div class="flex">
          <div class="layout horizontal">
            <div class="flex menu_box">
              เมนู 2
            </div>
            <div class="flex-6 menu_box" >
              <paper-dropdown-menu label="Your favourite pastry">
                <paper-listbox id="dropdownCheck" class="dropdown-content" selected="{{dataselect.dropdown}}">
                  <paper-item>Croissant</paper-item>
                  <paper-item>Donut</paper-item>
                  <paper-item>Financier</paper-item>
                  <paper-item>Madeleine</paper-item>
                </paper-listbox>
              </paper-dropdown-menu>
            </div>
          </div>
        </div>
        <hr>
        <div class="flex">
          <div class="layout horizontal">
            <div class="flex menu_box">
              เมนู 3
            </div>
            <div class="flex-6 menu_box" >
              <paper-radio-group id="radiogroupcheck" selected="{{dataselect.radiogroup}}">
                <paper-radio-button name="a">เลือก 1 </paper-radio-button>
                <paper-radio-button name="b">เลือก 2</paper-radio-button>
                <paper-radio-button name="c">เลือก 3</paper-radio-button>
              </paper-radio-group>
            </div>
          </div>
        </div>
        <hr>
        <div class="flex">
          <div class="layout horizontal">
            <div class="flex menu_box">
              เมนู 4
            </div>
            <div class="flex-6 menu_box" >
              <paper-checkbox id="checkbox1" checked="{{dataselect.check1}}"> เลือก 1</paper-checkbox>
              <paper-checkbox id="checkbox2" checked="{{dataselect.check2}}"> เลือก 2</paper-checkbox>
              <paper-checkbox id="checkbox3" checked="{{dataselect.check3}}"> เลือก 3</paper-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
Polymer({
  is: "my-editdata",
  behaviors: [nxPageBehavior,nxCoreBehavior],
  save: function(){
    var model = this.nxGetGlobalElement('myData');
    model.saveData({ idparent: this.idparent , dataselect: this.dataselect.index , data:this.dataselect });
  },
  delete:function() {
    var model = this.nxGetGlobalElement('myData');
    model.delData({ idparent: this.idparent , dataselect: this.dataselect.index , data:this.dataselect });
  }
});
</script>
</dom-module>
