<dom-module id="my-timeline">
<style include="iron-flex iron-flex-alignment iron-flex-factors">
.heading{
  margin-top: 10px;
  margin-left: 10px;
}
.card-content{
  padding: 20px;
}
.container{
  width: 100%;
}


  paper-menu.headmenu{
    --paper-menu-background-color:var(--paper-grey-100);
  }
  paper-item.menu {
    --paper-item-focused-before: {
      opacity: 0;
    };
    /*กำหนดคุณสมบัญไอแทม*/
    --paper-item:{
      color: var(--paper-grey-400);
      height: 60px;
    };
    --paper-item-focused: {
      background-color: var(--paper-grey-300);
      font-weight: bold;
      color: black;
    };
    /*หลังจากเลือกแล้วกดเลือกอันอื่น*/
    --paper-item-selected:{
      background-color: var(--paper-grey-300);
    }
  }
  paper-item.menu span.numberMenu{
    border: 2px solid #BDBDBD;
    text-align: center;
    line-height: 30px;
    width: 29px;
    height: 31px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: #FFF;
  }
  paper-item.iron-selected > span.numberMenu{
    border: 2px solid blue;
  }
  paper-item.menu > span.numberMenu::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 26px;
    background-color: var(--paper-grey-400);
    top: 46.5px;
    left: 32px;
    z-index: 1;
  }
  paper-item.iron-selected > span.numberMenu::after{
    /*border: 2px solid blue;*/
    background-color: blue;
  }
  paper-item.menu:last-child > span.numberMenu::after{
    background-color: transparent;
    height: 0px;
  }
</style>

<template>
  <div class="heading">Tree</div>
  <div class="card-content">
    <paper-menu class="headmenu">
      <paper-item class="menu">
        <span class="numberMenu">1</span>
        <span>ฟ้อง</span>
      </paper-item>
      <paper-item class="menu">
        <span class="numberMenu">2</span>
        <span>รับฟ้อง</span>
      </paper-item>
      <paper-item class="menu actives">
        <span class="numberMenu">3</span>
        <span>อ่านฟ้อง</span>
      </paper-item>
      <paper-item class="menu">
        <span class="numberMenu">4</span>
        <span>พิจาณานาฟ้อง</span>
      </paper-item>
      <paper-item class="menu">
        <span class="numberMenu">5</span>
        <spa>จบฟ้อง</span>
      </paper-item>
    </paper-menu>
  </div>


</template>
<script>
Polymer({
  is: "my-timeline",

});
</script>
</dom-module>
